body{
 margin: 0px;
 padding: 0px;
 background-color: blue;
}
/* header */
.conteneur {
display: flex;
flex-direction: row;
margin-left: 25%;
padding: 1%;
width: 100%;
height: 300px;
z-index: 1;
}
.conteneur div{
  display: inline-block;
  align-items: center;
  align-self: center;
  z-index: 1;
}
.element1{
display: inline-block;
height: 35%;
width: 8%;
margin-left: 20px;
text-align: center;
border: 1px solid black;
border-radius: 50%;
background-color: red;
}
.element1 h6{
  text-align: center;
}
.element2{
  display: inline-block;
  height:35%;
  width: 8%;
  margin-left: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
  background-color: yellow;
}
.element2 h6{
  text-align: center;

}
.element3{
  display: inline-block;
  height: 35%;
  width: 8%;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: green;
}
.element3 h6 {
  text-align: center;
}
.element4{
  display: inline-block;
  height: 35%;
  width: 8%;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
}
.element4 h6{
  text-align: center;
}
.element5{
  display: inline-block;
  height: 35%;
  width: 8%;
  margin-left: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: brown;
}
.element5 h6{
  text-align: center;
}
.element6{
  display: inline-block;
  height: 35%;
  width: 8%;
  margin-left: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: purple;
}
.elements6 h6{
  text-align: center;
}
/*fin header*/
/*footer*/
.sachet{
  position: absolute;
  margin-left: 35%;
  width: 100%;
  justify-content: center;
  z-index: 3;
}
